
        body {
            font-family: Arial;
            background: gray;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 5px;
        }

        .login-box {
            background: white;
            width: 350px;
            padding: 50px;
            border-radius: 10px;
        }

        .error {
            color: red;
            padding: 10px;
            border: 3px red solid;
            background-color: rgb(249, 183, 183);
            border-radius: 5px;
            font-size: 14px;
            margin-top: 5px;
            text-align: center;
            visibility: hidden;
        }
   